@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* COLORS */
:root {
	/* primary */
	/* --Red: rgb(255, 122, 122); old */
	--Red: rgb(225, 92, 92);
	/* --Green: rgb(56, 204, 140); old */
	--Green: rgb(26, 174, 110);


	/* accent */
	--Blue: rgb(96, 85, 165);
	/* Neutral */
	--Dark-Blue: rgb(62, 60, 73);
	--Grayish-Blue: rgb(95, 92, 121);
	--White: rgb(255, 255, 255);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background: url(images/bg-intro-mobile.png) var(--Red);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main {
	margin-top: 75px;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	text-align: center;
}

/* || INTRO CONTAINER  */

.intro {
	color: var(--White);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.heading {
	margin-bottom: 20px;
	font-size: 1.8em;
	font-weight: 600;
}

.text {
	font-size: 14px;
}

.rounded {
	border-radius: 5px;
}

.shadow {
	box-shadow: 0px 4px rgba(62, 60, 73, 0.5);
	-webkit-box-shadow: 0px 5px rgba(62, 60, 73, 0.3);
	-moz-box-shadow: 0px 4px rgba(62, 60, 73, 0.5);
}

/* _ */

/* FORM */

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.pricing {
	background-color: var(--Blue);
	color: var(--White);
	text-align: center;
	width: 100%;
	padding: 20px 30px;
}

.bold {
	font-weight: 600;
}

form {
	background-color: var(--White);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
	padding: 20px;
}

.input-group {
	display: flex;
	flex-direction: column;
	position: relative;
}

input {
	padding: 10px;
	border: 1px solid var(--Grayish-Blue);
}

input::placeholder {
	font-weight: 600;
	color: var(--Dark-Blue);
}

input:focus {
	outline: 2px solid var(--Green);
}

input.active {
	color: var(--Red);
	font-weight: bold;
	outline: 2px solid var(--Red);
}

input.active::placeholder {
	color: var(--Red);
}

input.active ~ .error-icon {
	visibility: visible;
}

.error {
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	padding-top: 5px;
	color: var(--Red);
}

.error-icon {
	position: absolute;
	right: 20px;
	top: 10px;
	width: 20px;
	height: 20px;
	visibility: hidden;
}

.btn {
	all: unset;
	border-radius: 5px;
	background-color: var(--Green);
	color: var(--White);
	text-transform: uppercase;
	font-weight: 600;
	font-size: 15px;
	padding: 15px;
	transition: transform 250ms;
	box-shadow: 0px 4px rgb(38, 147, 100);
	-webkit-box-shadow: 0px 4px rgb(38, 147, 100);
	-moz-box-shadow: 0px 4px rgb(38, 147, 100);
}

.btn:active {
	transform: scale(0.9);
}

.btn:hover {
	opacity: 0.7;
}

form p {
	color: var(--Grayish-Blue);
	font-size: 14px;
}

form a {
	font-size: 14px;
	color: var(--Red);
	text-decoration: none;
	font-weight: 700;
}

/* _ */

.attribution {
	position: relative;
	bottom: -40px;
	padding-bottom: 20px;
	width: 90%;
	text-align: center;
	letter-spacing: 2px;
	font-size: 0.75em;
	font-weight: 700;
	color: var(--White);
}

.attribution p {
	margin: 10px 0;
}

.attribution a {
	color: var(--Dark-Blue);
	padding: 0 -0.25em;
	margin: 0 -0.25em;
	text-decoration: none;
	box-shadow: inset 0 0 0 0;
	transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.attribution a:hover,
.attribution a:focus {
	outline: thin dotted;
	color: var(--White);
	box-shadow: inset 200px 0 0 0 var(--Dark-Blue);
}

@media screen and (min-width: 1440px) {
	body {
		height: 100vh;
	}

	main {
		flex-direction: row;
		gap: 100px;
	}

	.intro {
		max-width: 450px;
		text-align: left;
	}

	.heading {
		font-size: 2.8rem;
	}
}
